* {
    font-family: monospace;
}

body {


    background-size: 100%;
    background-color: aliceblue;
    text-decoration: none;

}

.head {
    box-sizing: border-box;
    height: 85px;
    border: 1px solid white;
    background-color: white;
    margin: 0;

}



#a1 {

    margin: 8px auto;
    margin-left: 40px;
    font-size: 20px;
    color: #F68B20;
}

#a2 {
      margin: 8px auto;
      margin-left: 30px;
      font-size: 20px;
      color: #F68B20;
}

header{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
    
}
.first{
    float: right;
}
#fac{
    width:250px;
    height: 50px;
    margin-right: 50px;
    margin-top: 90px;
}
table{
    margin-right: 40px;
   
 
}

 td, th{
     padding: 10px;
}
.container {

margin-left: -200px;
margin-top: -50px;

}

.main {
    width: 400px;
    margin: 100px auto 0px auto;
}

h2 {
    text-align: center;
    padding: 20px;
    
}



label {
    
    font-size: 18px;
    font-style: normal;

    justify-content: center;
    width: 100%;

    padding: 10px;
}

#number {
    color: #666666;
    padding: 30px;
   /*font-weight: bold;*/
    font-size: 20px;
    width: 100%;
    height: 15px;
    border: 1px solid white;
    border-radius: 3px;
    margin-bottom: 30px;
    border-radius: 4px;
}

select {
    margin-bottom: 20px;
    padding: 10px;
    width: 105%;
    border: 1 px solid white;
    border-radius: 4px;
    margin-top: 20px;
}

#sum {
    width: 105%;
    height: 70px;
    border: 1px solid black;
    margin-bottom: 30px;
}

#des {
    width: 96%;
    height: 200px;
    padding: 20px;
    margin-bottom: 50px;

}

input[type="SUBMIT"] {
    background-color: green;
    color: greenyellow;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid green;
}

input[type="RESET"] {
    background-color: red;
    color: whitesmoke;

    padding: 15px;
    border-radius: 10px;
    border: 1px solid red;

}

input[type="SUBMIT"]:hover {
  cursor: pointer;
}


input[type="RESET"]:hover {
  cursor: pointer;

}

footer{
   
    height: 100px;
    width: 100%;
    background-color: black;
    
}
.bg-light text-center text-lg-start{
  margin-top: 40px;
  width: 100%;
margin-bottom: 0px;
}

.text{
    text-align: center;
     width: 100%;
}
.f{
    
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
   
}



.text-dark{

    color: black;
    font-size: 18px;
    color:  #F68B20;
    font-style: italic;
    
}


